.dropbtn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.btn-header {
  background-color: #f9f9f9;
  border: 1px solid #0000001c;
  border-radius: 5px;
  margin: 2px;
  width: 100%;
  padding: 10px 20px;
}

.btn-header-mobile {
  background-color: #f9f9f9;
  border: none;
  margin: 2px;
  width: 100%;
  padding: 10px 20px;
}


.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  left: -35px;
}

.dropdown:hover .dropbtn {
  background-color: #E5EFF8;
}

.btn-newevent{
  border: none;
  width: 300px;
  padding:  10px;
  margin-bottom: 10px;

}
.buttons-header{
  display: flex;
}

.btn-lista{
  background-color: transparent;
  border: none;
  padding: 0 10px;
}

.btn-lista > p{
  text-align: center;
  background-color:#f9f9f9 ;
  padding: 10px 20px;
  border: 1px solid #0000001c;
  border-radius: 5px;
}