@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

:root {
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
